include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/hidepremissions *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/hidepremissions/migration *.ini *.py *.mako
