{% ckan_extends %}

{% block header_account %}
{{ super() }}
<!--<div class="account-masthead">-->
<!--  <div class="container">-->
<!--        {% if c.userobj.sysadmin %}-->
<!--            <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">-->
<!--                <i class="fa fa-gavel" aria-hidden="true"></i>-->
<!--                <span class="text">{{ _('Admin') }}</span>-->
<!--            </a>-->
<!--            {% block header_account_log_out_link %}-->
<!--            <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">-->
<!--                <i class="fa fa-sign-out" aria-hidden="true"></i>-->
<!--                <span class="text">{{ _('Log out') }}</span>-->
<!--            </a>-->
<!--        {% endblock %}-->
<!--      {% endif %}-->
<!--  </div>-->
<!--</div>-->
{% endblock %}


{{ super() }}